#
SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
# magento2 MANAGER scale update
*/1 * * * * /usr/local/bin/php /var/www/dev/PAJ/www/Docker/Scale/Manager/cron.php silent scalemanager > /dev/null 2>&1
# magento2 MANAGER PRODUCTION cron
#30 * * * *  /usr/sbin/logrotate -v /etc/logrotate.d/magento2 --state /var/www/.logrot_state
#* * * * * /usr/local/bin/php /var/www/dev/magento2/bin/magento cron:run | grep -v "Ran jobs by schedule" >> /var/www/dev/magento2/var/log/magento.cron.log
